# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

#
/desiredFileName.txt
/example/lib/src/packages/**
/examples/easy_localization/android/app/src/debug/AndroidManifest.xml
/examples/easy_localization/android/app/src/main/kotlin/com/example/example/MainActivity.kt
/examples/easy_localization/android/app/src/main/res/drawable/launch_background.xml
/examples/easy_localization/android/app/src/main/res/drawable-v21/launch_background.xml
/examples/easy_localization/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/examples/easy_localization/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/examples/easy_localization/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/examples/easy_localization/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/examples/easy_localization/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/examples/easy_localization/android/app/src/main/res/values/styles.xml
/examples/easy_localization/android/app/src/main/res/values-night/styles.xml
/examples/easy_localization/android/app/src/main/AndroidManifest.xml
/examples/easy_localization/android/app/src/profile/AndroidManifest.xml
/examples/easy_localization/android/app/build.gradle
/examples/easy_localization/android/gradle/wrapper/gradle-wrapper.properties
/examples/easy_localization/android/.gitignore
/examples/easy_localization/android/build.gradle
/examples/easy_localization/android/gradle.properties
/examples/easy_localization/android/settings.gradle
/examples/easy_localization/ios/Flutter/AppFrameworkInfo.plist
/examples/easy_localization/ios/Flutter/Debug.xcconfig
/examples/easy_localization/ios/Flutter/Release.xcconfig
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
/examples/easy_localization/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
/examples/easy_localization/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
/examples/easy_localization/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
/examples/easy_localization/ios/Runner/Base.lproj/LaunchScreen.storyboard
/examples/easy_localization/ios/Runner/Base.lproj/Main.storyboard
/examples/easy_localization/ios/Runner/AppDelegate.swift
/examples/easy_localization/ios/Runner/Info.plist
/examples/easy_localization/ios/Runner/Runner-Bridging-Header.h
/examples/easy_localization/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/examples/easy_localization/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/examples/easy_localization/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/examples/easy_localization/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/examples/easy_localization/ios/Runner.xcodeproj/project.pbxproj
/examples/easy_localization/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/examples/easy_localization/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
/examples/easy_localization/ios/Runner.xcworkspace/contents.xcworkspacedata
/examples/easy_localization/ios/RunnerTests/RunnerTests.swift
/examples/easy_localization/ios/.gitignore
/examples/easy_localization/linux/flutter/CMakeLists.txt
/examples/easy_localization/linux/flutter/generated_plugin_registrant.cc
/examples/easy_localization/linux/flutter/generated_plugin_registrant.h
/examples/easy_localization/linux/flutter/generated_plugins.cmake
/examples/easy_localization/linux/.gitignore
/examples/easy_localization/linux/CMakeLists.txt
/examples/easy_localization/linux/main.cc
/examples/easy_localization/linux/my_application.cc
/examples/easy_localization/linux/my_application.h
/examples/easy_localization/macos/Flutter/Flutter-Debug.xcconfig
/examples/easy_localization/macos/Flutter/Flutter-Release.xcconfig
/examples/easy_localization/macos/Flutter/GeneratedPluginRegistrant.swift
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
/examples/easy_localization/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
/examples/easy_localization/macos/Runner/Base.lproj/MainMenu.xib
/examples/easy_localization/macos/Runner/Configs/AppInfo.xcconfig
/examples/easy_localization/macos/Runner/Configs/Debug.xcconfig
/examples/easy_localization/macos/Runner/Configs/Release.xcconfig
/examples/easy_localization/macos/Runner/Configs/Warnings.xcconfig
/examples/easy_localization/macos/Runner/AppDelegate.swift
/examples/easy_localization/macos/Runner/DebugProfile.entitlements
/examples/easy_localization/macos/Runner/Info.plist
/examples/easy_localization/macos/Runner/MainFlutterWindow.swift
/examples/easy_localization/macos/Runner/Release.entitlements
/examples/easy_localization/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/examples/easy_localization/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
/examples/easy_localization/macos/Runner.xcodeproj/project.pbxproj
/examples/easy_localization/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/examples/easy_localization/macos/Runner.xcworkspace/contents.xcworkspacedata
/examples/easy_localization/macos/RunnerTests/RunnerTests.swift
/examples/easy_localization/macos/.gitignore
/examples/easy_localization/web/icons/Icon-192.png
/examples/easy_localization/web/icons/Icon-512.png
/examples/easy_localization/web/icons/Icon-maskable-192.png
/examples/easy_localization/web/icons/Icon-maskable-512.png
/examples/easy_localization/web/favicon.png
/examples/easy_localization/web/index.html
/examples/easy_localization/web/manifest.json
/examples/easy_localization/windows/flutter/CMakeLists.txt
/examples/easy_localization/windows/flutter/generated_plugin_registrant.cc
/examples/easy_localization/windows/flutter/generated_plugin_registrant.h
/examples/easy_localization/windows/flutter/generated_plugins.cmake
/examples/easy_localization/windows/runner/resources/app_icon.ico
/examples/easy_localization/windows/runner/CMakeLists.txt
/examples/easy_localization/windows/runner/flutter_window.cpp
/examples/easy_localization/windows/runner/flutter_window.h
/examples/easy_localization/windows/runner/main.cpp
/examples/easy_localization/windows/runner/resource.h
/examples/easy_localization/windows/runner/runner.exe.manifest
/examples/easy_localization/windows/runner/Runner.rc
/examples/easy_localization/windows/runner/utils.cpp
/examples/easy_localization/windows/runner/utils.h
/examples/easy_localization/windows/runner/win32_window.cpp
/examples/easy_localization/windows/runner/win32_window.h
/examples/easy_localization/windows/.gitignore
/examples/easy_localization/windows/CMakeLists.txt
